<div class="contact-form-container">
	<form action="{{ site.contact_form_action }}" method="POST" class="contact-form" target="_self">
		<div class="input-container">
			<input placeholder="Name" name="name" id="form_name" />
		</div>
		<div class="input-container">
			<input placeholder="Email" name="_replyto" id="form_email" />
		</div>
		<div class="input-container">
			<textarea placeholder="Hello" name="body" id="form_message"></textarea>
		</div>
		<div class="input-container">
			<input type="submit" class="button submit" value="Send" />
		</div>
	</form>
</div>
