<section class="portfolio-thumbnails">
{% assign sorted_pages = (site.work  | sort: 'display_order') %}
{% for post in sorted_pages reversed %}
  <div class="portfolio-thumbnail-wrapper">
    <a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-thumbnail" style="background-image:url('/img/portfolio/misc/{{ post.thumbnail }}');">
      <!-- <img src="/img/portfolio/misc/{{ post.thumbnail }}" alt="{{ post.title }}" />
      <a href="{{ post.url | prepend: site.baseurl }}" class="description">{{ post.blurb }}
        <span class="tags">
          {% for tag in post.tags %}
          <span class="tag frontend">{{ tag }}</span>
          {% endfor %}
        </span>
      </a> -->
    </a>
  </div>
  <!-- <div class="post" style="display: none;">
    {{post.content}}
     <div class="page-footer">
      <div class="footer-container">
        {% if post.previous and post.previous.categories contains "portfolio" %}
          <a class="previous-post" href="{{ post.previous.url }}"><span class="arrow">&larr;</span><span class="title">Previous Project "{{post.previous.title}}"</span></a>
        {% endif %}
        {% if post.next and post.next.categories contains "portfolio" %}
          <a class="next-post" href="{{ post.next.url }}"><span class="title">Next Project "{{post.next.title}}"</span><span class="arrow">&rarr;</span></a>
        {% endif %}
      </div>
    </div>
  </div> -->
{% endfor %}
</section>
