html {
  -webkit-font-smoothing: antialiased;
  background: $color-main;

  // @media (max-width: $break-sm-max) {
  // background: $color-rust;
  // }
}

body {
  color: #333;
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  // letter-spacing: .07em;
  line-height: 2.2;

  width: 80%;
  // max-width: 1000px;
  margin: 100px auto;

  // font-size: 16px;
  // font-weight: normal;
  // line-height: 1.5;

  @media (max-width: $break-sm-max) {
    width: 90%;
    margin: 50px auto;
  }

}

.page-content {
  padding: 100px;
  background: #fff;
  @media (max-width: $break-sm-max) {
    padding: 50px;
  }
  @media (max-width: $break-xs-max) {
    padding: 20px;
  }
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: underline;
	transition: color 0.1s;
	color: $color-blue-link;
}

a:hover {
	text-decoration: underline;
	color: $color-blue-dark;
}
