h1 {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 34px;
}

.post-content {
  figure {
  margin: 0;
  }

  h2 {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 28px;
  }

  .lead {
    font-size: 125%;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .page-imgs {
      width: 100%;
      text-align: center;
      img {
        width: 500px;
        max-width: 90%;
        margin: 70px auto;
      }
  }
}


.portfolio-thumbnail-wrapper {
  width: 33%;
  display: inline-block;
}

img.about-me-pic {
  max-width: 235px;
  border-radius:50%;

  @media (max-width: $break-sm-max) {
  float: right;
  margin-left: 40px;
  max-width: 60%;
  }

  @media (max-width: $break-xs-max) {
  max-width: 60%;
  margin: 0 auto;
  float: none;
  margin-left: auto;
  }
}

.photo-grid {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  clear:both;
  // position: absolute;
  // bottom: 0;

  &:after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  }

  .photo-grid-photo {
  width: 25%;

  @media (max-width: $break-sm-max) {
  width: 50%;
  }
  overflow: hidden;
  float: left;

  img {
  width: 100%;
  }
  }
}

.home .page-imgs {
    margin-top: 180px;
}


a.cta-link:link,
a.cta-link:visited,
a.cta-link:active {
  font-family: $font-secondary;
  background: $color-green;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  width: 82px;
  text-align: right;
  padding: 3px 11px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.1s;

  &:before {
  content: "\f0c1";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    text-decoration: inherit;
    font-size: 17px;
    padding: 0 6px 0 0;
    display: inline-block;
    margin-left: -3px;
  }
}

a.cta-link:hover {
  background-color: $color-green-dark;
}
