.mainbar {
	background: #111 url('../img/chicago-lasalle-street-bridge-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
	font-family: $font-secondary;
	padding-top: 60px;
	text-align: right;
	width: $bar-width;
	padding-right: 40px;
	box-sizing: border-box;

	@media (max-width: $break-sm-max) {
		background: #111;
		min-height: 130px;
		padding-right: 30px;
		padding-top: 0;
		width: 100%;
	}

	h1 {
		display: block;
		float: right;
		margin: 0;
		margin-top: 15px;
		margin-left: 40px;
		text-align: right;
		text-transform: uppercase;
		width: 300px;
		line-height: 1;

		@media (max-width: $break-sm-max) {
			float: left;
			width: 25%;
			margin: 0;
			padding-top: 25px;
			padding-left: 30px;
		}

		a:link {
			display: block;
			text-decoration: none;
			font-size: 40px;
			font-family: $font-secondary;
			font-weight: 300;
	    max-width: 40%;
	    text-align: right;
	    float: right;

			@media (max-width: $break-sm-max) {
				float: left;
				background-position: 0 0;
				padding-top: 40px;
				background-size: contain;
				padding-bottom: 40px;
				display: inline-block;
				padding: 0;
			}
		}

		/* Red line after heading */
		&:after {
			content: '';
			display: block;
			border: solid $color-rust;
			border-width: 0;
			border-top-width: 2px;
			margin-top: 30px;
	    width: 70%;
	    float: right;

			@media (max-width: $break-sm-max) {
				display: none;
			}
		}

	}

	h2 {
		font-size: 17px;
		text-transform: uppercase;
	}

	a {
		font-size: 18px;
		font-weight: 500;
	}

	a:link,
	a:visited,
	a:active,
	a:hover {
		color: #fff;
	}

	a:hover {
		// color: $color-blue;
		text-decoration: none;
	}

	nav {
		clear: both;
		padding-top: 20px;

		@media (max-width: $break-sm-max) {
			display: inline-block;
			clear: both;
			padding: 50px 0 20px 0;
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		@media (max-width: $break-sm-max) {
			li {
				display: inline-block;
				padding-left: 5px;
			}
		}
	}

	.get-in-touch-wrapper {
		@media (max-width: $break-sm-max) {
			display: none;
		}
	}

	.contact-form-wrapper {
		@media (max-width: $break-sm-max) {
			display: none;
		}
	}

	.contact-form {
		text-align: right;

		.input-container {
			clear:both;
		}

		input,
		textarea,
		.button {
			color: #fff;
			background: transparent;
			border: solid 1px #fff;
			padding: 9px 12px;
			font-size: 14px;
			display:block;
			margin-bottom: 10px;
			width: 200px;
			font-family: $font-primary;
			font-weight: normal;
			float: right;
	  }

	  textarea {
	    height: 125px;
			text-align: left;
	  }

		input {
			text-align: left;
		}

		input::-webkit-input-placeholder,
	  textarea::-webkit-input-placeholder  {
	    color: #fff;
		  text-align: right;
	  }

		textarea::-webkit-input-placeholder  {
	    text-align: right;
	  }

	  input:-moz-placeholder,
	  textarea:-moz-placeholder { /* Firefox 18- */
	    color: #fff;
	  }

	  input::-moz-placeholder,
	  textarea::-moz-placeholder {  /* Firefox 19+ */
	    color: #fff;
	  }

	  input:-ms-input-placeholder,
	  textarea:-ms-input-placeholder {
	    color: #fff;
	  }

	  .button {
			font-family: $font-secondary;
			background: $color-blue;
			font-weight: 500;
			font-size: 18px;
			text-transform: uppercase;
			width: 82px;
			text-align: right;
			color: #fff;
			padding: 2px 8px;
			cursor: pointer;
			border: none;
			transition: background-color 0.1s;
	  }

		.button:hover {
			background-color: #485d67;
		}

	}

}
