$font-primary: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
// $font-condensed: 'Roboto Condensed', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-secondary: 'Oswald', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-logo: 'Chango', Helvetica Neue, Helvetica, Arial, sans-serif;

$color-blue: #759eb1;
$color-blue-dark: #485d67;
$color-rust: #a23d15;

$bar-width: 375px;

$break-sm-max: 992px;
$break-xs-max: 500px;
