---
layout: default
---
<div class="portfolio-page">

  <header class="post-header">
		<a class="more" href="/work">&laquo; Work</a>
		<h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}


    {% if page.contributions %}
    <aside class="contributions">
    <h2>My Contributions</h2>
    <ul>
    {% for c in page.contributions %}
    <li>{{ c }}</li>
    {% endfor %}
    </ul>
    </aside>
    {% endif %}

    {% if page.tags %}
    <aside class="tags">
    <h2>Tags</h2>
    <ul>
    {% for t in page.tags %}
    <li>{{ t }}</li>
    {% endfor %}
    </ul>
    </aside>
    {% endif %}

  </article>

</div>
